@font-face {
    font-family: "quicksand";
    src: local("sans-serif"), url("../fonts/Quicksand-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "quicksand-light";
    src: local("sans-serif"), url("../fonts/Quicksand-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "quicksand-bold";
    src: local("sans-serif"), url("../fonts/Quicksand-Bold.ttf");
    font-display: swap;
}

$white: #ffffff;
$button-bg: #4285f4;
$purple: #7c3aed;

//@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.css');

body {
    margin: 0;
}

.social-icons {
    display: flex;
}

.credentials {
    margin: 20px 0;
}

svg {
    fill: $button-bg;
    margin-right: 1rem;
    margin-left: 1rem;
    opacity: 0.7;
    width: 1.5rem;

    $scale-mobile: 1.5;
    $scale-desktop: 0.5;
    transform: scale($scale-mobile) translate(0rem, 1rem);
    // &.fa-linkedin-in {
    //     transform: scale($scale-mobile) translate(0rem, 1rem);
    // }

    // &.fa-github-alt {
    //     transform: scale($scale-mobile) translate(0rem, 1rem);
    // }

    // &.fa-youtube {
    //     transform: scale($scale-mobile) translate(0rem, 1rem);
    // }
    // &.fa-twitter {
    //     transform: scale($scale-mobile) translate(0rem, 1rem);
    // }

    // &.fa-instagram {
    //     transform: scale($scale-mobile) translate(0rem, 1rem);
    // }

    @media (min-width: 700px) {
        margin-right: 0.5rem;
        margin-left: 0.2rem;

        float: left;
        position: relative;
        width: 50%;
        transform: scale($scale-desktop);
        // &.fa-linkedin-in {
        //     transform: scale($scale-desktop);
        // }

        // &.fa-github-alt {
        //     transform: scale($scale-desktop);
        // }

        // &.fa-youtube {
        //     transform: scale($scale-desktop);
        // }
        // &.fa-twitter {
        //     transform: scale($scale-desktop);
        // }

        // &.fa-instagram {
        //     transform: scale($scale-desktop);
        // }
    }

    &:hover {
        //transform: scale(1);
        opacity: 1;
    }
}
body {
    background-color: $white;
    font-family: "quicksand";
}

@keyframes slide-in {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes corner-move-in {
    from {
        transform: translate(-12rem, -12rem);
    }

    to {
        transform: translate(0rem, 0rem);
    }
}

.heighLight {
    text-shadow: 0 25px 20px rgba(0, 0, 0, 0.75);
}

header {
    display: flex;
    flex-direction: column;

    padding: 3rem 6rem 0;
    // width: 75vw;

    @media (min-width: 700px) {
        padding: 7rem 15rem 0;
        height: 100vh;
    }

    h1 {
        &::after {
            content: "👋";
            display: inline;
        }
        // animation: corner-move-in 3s 1;

        @media (max-width: 700px) {
            width: 250px;
            font-size: 1.5rem;
        }
    }

    h2 {
        //width: 300px;
        height: 125px;

        @media (min-width: 700px) {
            width: 700px;
        }

        @media (max-width: 700px) {
            font-size: 1rem;
        }

        &:after {
            content: "Welcome";
            display: block;

            font-size: 4rem;
            //transition: transform 3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transform: translate(-6rem, -1rem);
            z-index: -1;
            //animation: slide-in 2s 1;
            opacity: 0.2;

            @media (min-width: 700px) {
                font-size: 10rem;
                //transition: transform 3s cubic-bezier(0.165, 0.84, 0.44, 1);
                transform: translate(-15rem, 0rem);
            }
        }

        .hashtag {
            color: $button-bg;

            &:hover {
                color: red;
                //border: 1px solid $white;
                // color: $white;
                transition: 1s;
                //letter-spacing: unset;
            }
            &::before {
                content: "#";
            }
        }
    }

    h3 {
        width: 275px;
    }

    nav {
        $mobile-menu-size: 0.4rem;
        $desktop-menu-size: 1rem;
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                font-size: $mobile-menu-size;
                margin-right: $mobile-menu-size;
                position: relative;

                @media (min-width: 700px) {
                    font-size: $desktop-menu-size;
                    margin-right: $desktop-menu-size;
                }

                &::before {
                    content: "#";
                    color: $button-bg;
                }

                a {
                    width: 100%;
                    &::after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 2px;
                        position: absolute;
                        background-color: transparent;
                        transition: all 0.3s ease-in-out;
                    }

                    text-decoration: none;
                    color: red;

                    &:hover {
                        &::after {
                            width: 100%;
                            background-color: #8bc34a;
                        }
                    }
                }
            }
        }
    }

    .email {
        a {
            text-decoration: none;
        }
    }
}

.btn {
    background-color: $button-bg;
    color: $white;
}

section {
    display: flex;
    margin: 2rem 0;
    flex-wrap: unset;
    padding-right: 1rem;
    @media (max-width: "700px") {
        flex-wrap: wrap;
        //  width: 100%;
        padding-left: 1rem;
    }

    p {
        margin-top: 0;
    }

    .title {
        color: $button-bg;
        font-family: "quicksand-bold";

        @media (min-width: 700px) {
            width: 40%;
            text-align: right;
        }

        padding-right: 0.5rem;
        button {
            background: $button-bg;
            border: 0;
            border-radius: 0.2rem;
            color: $white;
            letter-spacing: 0.1rem;
            text-transform: uppercase;

            &:hover {
                background: $white;
                color: $button-bg;
                border: 1px solid $button-bg;
                transition: 1s;
            }
        }
    }
    .description {
        font-family: "quicksand";
        @media (min-width: 700px) {
            width: 48%;
        }
    }

    .skills {
        display: flex;
        .category {
            border-radius: 0.3rem;
            box-shadow: 0px 2px 5px #ececec;
            text-align: center;
            animation: ease-in 3s;
            padding: 1.2rem;

            @media (min-width: 700px) {
                margin: 0 3rem 0 1rem;
                padding: 0.5rem;
            }

            .category_title {
                font-family: "quicksand-bold";
            }
            ul {
                padding: 0;
                list-style: none;
            }

            li {
                border: 1px solid $button-bg;
                padding: 2px;
                border-radius: 0.2rem;
                font-size: 0.5rem;
                margin-bottom: 2px;

                &:hover {
                    background-color: $button-bg;
                    border: 1px solid $white;
                    color: $white;
                    letter-spacing: 0.2rem;
                    transition: 1s;
                }
            }
        }
    }

    .jobs {
        .job {
            display: flex;
            flex-wrap: wrap;

            margin-bottom: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.3rem;
            box-shadow: 0px 2px 5px #ececec;

            animation-fill-mode: forwards;

            @media (min-width: "700px") {
                width: 100%;
            }
        }
        .job_company {
            font-family: "quicksand-bold";
            //animation: text 3s 1 linear;
        }
        .job_company_details {
            display: inline-flex;

            .job_year {
                margin: 0 0.3em 0.7em;
                background: #ececec;
                border-radius: 0.3em;
                font-size: 0.6rem;
                font-family: "quicksand-light";
            }
        }
        .job_designation {
            width: 100%;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;

        @media (min-width: "700px") {
            width: 59%;
        }
        //flex-wrap: wrap;
        .project {
            border-radius: 0.3rem;
            box-shadow: 0px 2px 5px #ececec;
            margin: 0.3rem 0;
            padding: 0.3rem;

            .project-title {
                font-family: "quicksand-bold";
            }
        }
    }
}

[data-scroll] {
    transition: transform 1s;
}
[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}
[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-5rem);
}

footer {
    //position: fixed;
    bottom: 0;
    left: 0;
    //@at-root width: 100%;
    background-color: $button-bg;
    text-align: center;
    color: $white;
    padding: 1rem;

    .donate {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    svg {
        &.fa-donate {
            float: right;
            position: relative;
            fill: gold;
            transform: scale(0.2);
            z-index: 9999;

            @media (max-width: 700px) {
                transform: scale(0.2) translate(16rem, 3rem);
                height: 10rem;
                margin: 0;
            }
        }
    }
}

.tag {
    border: 1px solid $button-bg;
    border-radius: 0.2rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.2rem;
    color: $button-bg;
    font-size: 0.5rem;

    &:hover {
        background-color: $button-bg;
        border: 1px solid $white;
        color: $white;
        transition: 1s;
        letter-spacing: 0.2rem;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@keyframes move {
    0% {
        transform: translate(-30%, 0);
    }
    50% {
        text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
        transform: translate(30%, 0);
    }
}

@keyframes highlightElement {
    50% {
        text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 0.3rem;
        margin-bottom: -40px;
    }
}
